@import '../variable/variables';


nav{
    @at-root
    ul{
       display: $flex;
       justify-content: $j-c-e;
       background-color: $bg-2;
       color: $text-c-1;
    }
    @at-root
     li{
        list-style-type: none;
     }
     @at-root
    li a{
        text-decoration: none;
     }
}
