.paggination
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.page-1
{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page-1:hover{
    height: 50px;
    width: 50px;
    font-size: 15px;
}

.page-1 a{
    text-decoration: none;
    display: flex;
    color: black;
}
.left  a{
    color: black;
}
.right  a{
    color: black;
}
.left:hover{
    transform: translateX(-5px);
    transition: 2s;
}
.right:hover{
    transform: translateX(5px);
    transition: 2s;
}