body{
    background-image: url(folder1/image/Plants-Under-Starry-Sky-·-Free-Stock-Photo.png);
    background-repeat: no-repeat;
    background-size:cover;   
}
.box1{
    height: 300px;
    width: 500px;
    color: white;
    border: 5px solid white;
    position: absolute;
    top: 100px;
    left: 400px;
    right: 20px;
    bottom: 20px;
    /* background-image: linear-gradient(red,yellow); */
    /* background-image: linear-gradient(to bottom right,red,yellow); */
    /* background-image: linear-gradient(45deg,red,yellow); */
    background-image: repeating-linear-gradient(to right,red,yellow,green);
}