.container{
    background-color: darkblue;
    height: 800px;
    position: relative;
}
.div-1{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    display: flex;
    position: absolute;
    top: -5px;
    left: 620px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.div-2{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    top: -5px;
    left: 620px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-3{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top:-6px;
    z-index: 3;
    left: 620px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: box-3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box-3{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2);
    }
}
.div-4{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top:-6px;
    z-index: 4;
    left: 620px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: box-4;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box-4{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.5px);
    }
}

.div-5{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top:-6px;
    z-index: 5;
    left: 620px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: box-5;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes box-5{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.5px);
    }
}