$h-1:80px;
$h-2:200px;
$h-3:300px;
$h-4:350px;
$h-5:400px;
$h-6:450px;
$h-7:500px;
$h-8:550px;
$h-9:600px;
$h-10:650px;
$h-11:700px;
$h-12:800px;


$w-1:80px;
$w-2:200px;
$w-3:300px;
$w-4:350px;
$w-5:400px;
$w-6:450px;
$w-7:500px;
$w-8:550px;
$w-9:600px;
$w-10:650px;
$w-11:700px;
$w-12:800px;
$w-13:900px;
$w-14:1000px;
$w-15:1100px;
$w-16:1200px;
$w-17:1350px;
$w-18:1400px;

/*font-size*/

$f1:10px;
$f2:20px;
$f3:30px;
$f4:40px;
$f5:50px;


